div.container {
    width: 1000px;
    min-height: 200px;
    margin: 0 auto;

}

div.row {
    margin: 0 auto;
}
div.switch {
    display: inline-block;
    border:10px;

}
button {
    width: 80px;
    height: 80px;
    background-color: white;
    border: 10px solid #643007;
}
button.on {
    background-color: green;
}
button:focus {outline:0;}
